configuration {
  icon-theme: "Papirus-Dark";
  show-icons: true;
  font:"JetBrains Mono Bold 12";
  run-command: "sh -c '{cmd} || true'";
  run-shell-command: "{terminal} -e sh -c '{cmd} || true'";
}

* {
    bg-col: rgba(78, 78, 78, 1.0);
    bg-col-light: #24273a;
    border-col: #24273a;
    selected-col: #373738;
    search: #1f1f1fac;
    fg-col: #cfcfcf;
    fg-col2: #ed8796;
    grey: #909090;
    teal: #a7a6a6;
    background-color: transparent;
}